.flex-container{
    display:flex;
    flex-flow: row wrap;
    justify-content:space-between;
    /* align-items: stretch ;
    align-content:stretch; */
}

.flex-container > section {
    width: 30%;
}


section{
    width: 50%;
}
    

body {
    color: rgb(0, 247, 90);
    background-color: black;
}

h1{
   background-color:rgb(56, 9, 56);

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(174, 255, 0);
}


p{
    background-color: rgb(10, 106, 81);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}